<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleControl" version="1.1.0.0" targetFramework="net452" />
  <package id="FastColoredTextBox" version="1.0.0" targetFramework="net452" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
</packages>